.container
  .row
    / Blog Entries Column
    .col-md-8
      %h1.page-header
        Blog
        %small Best Blog in the World!
      / posts
      = render partial: 'posts_preview'
      / Pagination
      %ul.pager
        %li.previous
          %a{href: '#'} Prev
        %li.next
          %a{href: '#'} Next
    .col-md-4
      = render partial: 'search'
      = render partial: 'categories'
      = render partial: 'side_widget'
    %hr/
    / Footer
    %footer
      .row
        .col-lg-12
          %p Copyright Best Blog in the World! 2016

